/* รูปโปรไฟล์ในรูปวงกลม */
.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-image img {
    width: 100%;
    height: 105%;
    object-fit: cover;
}

/* Sidebar styles */
.sidebar {
    height: 150vh; /* ทำให้ Sidebar ครอบคลุมทั้งหน้าจอ */
    width: 270px; /* กำหนดความกว้างของ Sidebar */
    position: absolute; /* ทำให้ Sidebar อยู่ในตำแหน่งคงที่ */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff; /* เปลี่ยนพื้นหลังเป็นสีขาว */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* เพิ่มเงาเบา ๆ เพื่อสร้างความลึก */
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap; 
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px 10px 30px;
    text-decoration: none;
    font-size: 18px; 
    color: #222222; /* ปรับให้ลิงก์มีสีขาว */
    display: block;
    transition: 0.3s;
    white-space: nowrap; 
    border-radius: 4px; /* ทำให้มุมโค้งมนเล็กน้อย */
    margin: 10px 10px;
    
}

.sidebar a:hover {
    background-color: #f1f3f4;
    color: #202124;
    
}

/* ลิงก์ที่ถูกเลือก */
.sidebar a.active {
    background-color: #e8f0fe; /* สีพื้นหลังที่โดดเด่นเมื่อเลือก */
    color: #1967d2; /* สีตัวอักษรของลิงก์ที่ถูกเลือก */
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.user-info {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
    
}

.user-info h1 {
    padding: 15px;
    font-size: 18px; 
    color: #392121; 
}

/* Main content styles */
#main {
    margin-left: 270px; /* เลื่อนส่วนหลักให้เหมาะสม */
    transition: 0.5s; /* การทำให้เกิด transition */
    padding: 20px;
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 0;
        height: 100%;
    }
    #main {
        margin-left: 0;
    }
}
